.cxn {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;


	&-timeline {
		background-color: #474747;
		border-radius: 15px;
		margin-bottom: 30px;
		padding: 50px !important;
	}

	&-timeline-item {
		margin-bottom: 30px;
		padding: 5px 35px 5px 35px;
		position: relative;

		&-heading {
			border-bottom: 2px solid #3572f4 !important;
			border-top: 0 !important;
			color: #ffffffda;
		}
	}

	&-timeline-item-number {
		background-color: #fff;
		border: 1px solid #949494;
		border-radius: 50%;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 500;
		height: 30px;
		left: 20px;
		line-height: 30px;
		margin-left: -35px;
		margin-right: 10px;
		position: absolute;
		text-align: center;
		top: 13px;
		width: 30px;
	}

	&-show-php {
		font-size: 0.8em;
	}

	&-label {
		color: #fff;
		display: inline-block;
		font-size: 11px;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: calc(8px);
		padding: 0;
		text-transform: uppercase;
	}

	&-show-shortcode {
		border: 1px solid #949494;
		border-radius: 2px;
		font-size: 0.8em !important;
		line-height: normal;
		margin-bottom: calc(8px);
		padding: 6px 8px;
		transition: box-shadow 0.1s linear;
		width: 100%;
	}

	&-form-header-wrapper {
		align-items: center;
		display: flex;
	}

	&-copy {
		background-color: #3572f4 !important;
		color: #fff !important;
		margin-left: auto;
		text-align: right;
	}
}
