.cxn {

	&-code-snippets-generator-wrapper {
		animation: fadeIn 0.8s ease;
		container-type: inline-size;
	}

	&-timeline {
		background-color: #474747;
		border-radius: 15px;
		color: #fff;
		container-type: inline-size;
		margin-bottom: 30px;
		padding: 15px 20px 15px 35px;

		@container (min-width: 600px) {
			padding: 25px 50px;
		}
	}

	&-timeline-item {
		margin-bottom: 30px;
		padding-left: 35px;
		position: relative;

		@container (min-width: 600px) {
			padding: 5px 35px 5px 35px;
		}

		&-heading {
			border: 0 !important;
			color: #ffffffdc;
			margin-bottom: 20px !important;
		}

		@mixin timeline-item-before($height) {
			background-color: #c0c0c0;
			content: "";
			height: $height;
			left: 0%;
			position: absolute;
			top: 70%;
			transform: translate(-50%, -50%);
			width: 2px;
		}

		&::before {

			@include timeline-item-before(131%);
		}

		&:last-child {

			&::before {

				@include timeline-item-before(80%);
			}
		}
	}

	&-timeline-item-number {
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		color: #404040;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 500;
		height: 30px;
		left: 20px;
		line-height: 30px;
		margin-left: -35px;
		margin-right: 10px;
		position: absolute;
		text-align: center;
		top: 10px;
		width: 30px;
	}

	&-item-content {
		margin-left: 10px;

		label {
			display: inline-block;
			font-size: 11px;
			font-weight: 500;
			line-height: 1.4;
			padding: 0;
			text-transform: uppercase;
		}

		.cxn-label {
			margin-bottom: -20px;
		}

		input,
		textarea {
			border-radius: 2px;
			font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !important;
			font-size: 14px !important;
			line-height: normal;
			padding: 6px 8px !important;
		}

		p {
			color: #f7f7f7;
			font-size: 0.8em;
		}
	}

	&-advanced-settings {

		&-switch {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: center;
			text-align: center;
			white-space: nowrap;

			@mixin switch-before($left) {
				border-top: 1px solid #fff;
				content: "";
				width: 43%;
			}

			&::before {

				@include switch-before(-36%);
				margin-right: 15px;
			}

			&::after {

				@include switch-before(16%);
				margin-left: 15px;
			}
		}

		&-icon {
			fill: #fff;
			position: relative;
		}

		&-item {

			&-shortcode {

				@container (min-width: 600px) {
					width: 50%;

					&-point {
						width: 50%;
					}
				}
			}

			&-container {

				@container (min-width: 600px) {
					display: flex;
					padding-top: 30px;
				}

				li {
					font-size: 0.8em;
				}
			}

			&-function {

				&-name {

					&-validation {
						color: #f3f300;
						font-size: 0.8em;
					}

					&-container {
						margin-bottom: 15px;
					}

					@container (min-width: 600px) {

						&-container {
							width: 50%;
						}

						&-point {
							width: 50%;
						}
					}
				}
			}
		}

		details[open] &-item {
			animation: fadeIn 0.8s ease;
		}
	}

	&-show-php {
		font-size: 0.8em;
	}

	&-show-shortcode {
		border: 1px solid #949494;
		border-radius: 2px;
		font-size: 0.8em !important;
		line-height: normal;
		margin-bottom: calc(8px);
		padding: 6px 8px;
		transition: box-shadow 0.1s linear;
		width: 100%;
	}

	&-form-header-wrapper {
		align-items: center;
		display: flex;
		margin-bottom: 10px;
	}

	&-copy {
		background-color: #3572f4 !important;
		color: #fff !important;
		justify-content: center;
		margin-left: auto;
	}

	&-copied {
		background-color: #fff !important;
		border: 1px solid #3572f4 !important;
		color: #3572f4 !important;
	}
}

@keyframes fadeIn {

	0% {
		opacity: 0;
		transform: translateY(-5px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}
