.cxn {

	&-code-snippets-generator-wrapper {
		color: #fff;
	}

	&-timeline {
		background-color: #474747;
		border-radius: 15px;
		margin-bottom: 30px;
		padding: 50px !important;
	}

	&-timeline-item {
		margin-bottom: 30px;
		padding: 5px 35px 5px 35px;
		position: relative;

		&-heading {
			border: 0 !important;
			color: #ffffffda;
			margin-bottom: 20px !important;
		}

		@mixin timeline-item-before {
			background-color: #c0c0c0;
			content: "";
			height: 120%;
			left: 0%;
			position: absolute;
			top: 70%;
			transform: translate(-50%, -50%);
			width: 2px;
		}

		&::before {

			@include timeline-item-before;
		}

		&:last-child {

			&::before {

				@include timeline-item-before;
				height: 80%;
			}
		}
	}

	&-timeline-item-number {
		background-color: #fff;
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		font-size: 0.8em;
		font-weight: 500;
		height: 30px;
		left: 20px;
		line-height: 30px;
		margin-left: -35px;
		margin-right: 10px;
		position: absolute;
		text-align: center;
		top: 10px;
		width: 30px;
	}

	&-item-content {
		margin-left: 10px;

		label {
			color: #fff;
			display: inline-block;
			font-size: 11px;
			font-weight: 500;
			line-height: 1.4;
			padding: 0;
			text-transform: uppercase;
		}

		.cxn-label {
			margin-bottom: -20px;
		}

		input,
		textarea {
			border-radius: 2px;
			font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !important;
			font-size: 14px !important;
			line-height: normal;
			padding: 6px 8px !important;
		}

		p {
			color: #f7f7f7;
			font-size: 0.8em;
		}
	}

	&-show-php {
		font-size: 0.8em;
	}

	&-show-shortcode {
		border: 1px solid #949494;
		border-radius: 2px;
		font-size: 0.8em !important;
		line-height: normal;
		margin-bottom: calc(8px);
		padding: 6px 8px;
		transition: box-shadow 0.1s linear;
		width: 100%;
	}

	&-form-header-wrapper {
		align-items: center;
		display: flex;
		margin-bottom: 10px;
	}

	&-copy {
		background-color: #3572f4 !important;
		color: #fff !important;
		margin-left: auto;
		text-align: right;
	}
}
